.home-page {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  min-height: 100vh;
  background: #f8f8f8;
}

img{
  height: 80px;
  width: auto;
  margin-bottom: 20px;
}

.home-header {
  text-align: center;
  margin-bottom: 30px;
}

.home-title {
  font-size: 3rem;
  color: #000;
  margin-bottom: 10px;
}

.secondary-group {
  display: flex;
  justify-content: space-evenly;
}

.secondary-group .btn-secondary {
  padding: 16px 32px;
  border-radius: 12px;
  font-weight: 600;
  text-decoration: none;
  transition: transform 0.2s, box-shadow 0.3s, background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}

.btn-secondary {
  background-color: #e85700;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #e69500;
  transform: translateY(-3px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
 .informacao {
  background-color: #f6efe9;
  padding: 2%;
  border-radius: 2%;
 }

 .pedidos-wrapper {
  width: 70%;
 }